/* Range Sliders */

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (120px));
    height: 7px;
    border-radius: 5px;
    background: #999a9b;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider-top {
    width: 100% !important;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #0083B0;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #0097cc;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #0083B0;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #0083B0;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #0097cc;
}
.range-slider__range:active::-moz-range-thumb {
    background: #0097cc;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 100px;
    color: #fff;
    line-height: 20px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 3px;
    background: #0083B0;
    padding: 5px 10px;
    margin-left: 8px;
    top: 2px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #0083B0;
    border-bottom: 7px solid transparent;
    content: '';
}

.range-value-bottom {
    margin-top: 10px !important;
    display: block !important;
    margin: auto;
}

.range-value-bottom:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #0083B0;

    top: -13px;
    left: 43px;
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/* Switch */

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  padding-left: 44px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #0083B0;
}
.switch-input:checked + .switch-label:after {
  background-color: #0097cc;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
